*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: #272525;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    
}
.logo-texto{
    font-size: 13px;
    margin-left: 20px;
    color: #e21a1a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu li{
    display: inline-block;
    margin: 0 10px;
}    

.menu li a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 10px 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}  

.menu li a:hover{
    color: #e21a1a;
}  

body{
    background-color: rgb(15, 15, 15);
    height: 100vh;
    width: 100vw;
} 

.search-box{
    position: absolute;
    left: 15%;
    top: 20%;
    background: #272525;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 16px;
    line-height: 40px;
    color: white
}

.menu2{
    position: absolute;
    left: 38%;
    top: 21%;
} 

.menu2 li{
    display: inline-block;
    margin: 0 10px;
    
}

.menu2 li a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 10px 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
   }


.menu2 li a:hover{
    color: #e21a1a;
}


footer{
    width: 100%;
    min-height: 250px; 
    background: #272525;
    display: flex;
    border-radius: 33px;
    
}

footer  .boxs{
    width: 320px;
    min-height: 150px;
    padding: 20px;
}


footer .boxs:nth-child(4){
    width: 400px;
    
}

.boxs h2{
    color: #e21a1a;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


.boxs ul li{
    margin: 10px 0px;
    list-style: none;
}

.boxs ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boxs ul li a:hover{
    color: #e21a1a;;

}

.boxs p{
    color: white;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}

.footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 15, 15);;
    padding: 0px 20px;
}

.footer h2{
    color: #e21a1a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}


.footer{
    display: flex;
}

.sociais .social { 
width: 40px;
height: 40px;
text-align: center;
line-height: 40px;
background: white;
margin: 10px;
border-radius: 5px;
cursor: pointer;
}

.sociais .social a {
    color: #000;
    font-size: 1.5em;
}

.sociais .social:hover{
    background: white;
}

.sociais .social:hover a {
    color: red
}

.slider{
    margin-top: 200px;
    margin-left: 300px;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display:none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 750px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40;
    display: flex;
    justify-content: center;
    top: 104%;
}

.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
    
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #FFF;
}

#radio1:checked ~.first{
    margin-left: 0;
}

#radio2:checked ~.first{
    margin-left: -25%;
}

#radio3:checked ~.first{
    margin-left: -50%;
}

#radio4:checked ~.first{
    margin-left: -75%;
}

h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    margin: 0;
    padding-top: 10px;
}

a{
    text-decoration: none;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    position: absolute;
    top: 123%;
}

.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0,0.22);
    transition: .4s;
    background: #272525;
    }

.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
    }

    p{
        text-align: center;
        color: white;
        padding-top: 0 8px;
    }

    h6{
        font-size: 26px;
        text-align: center;
        color: #e21a1a;
        margin: 0;
    }
    
    ul{
        list-style: none;
        justify-content: center;
        align-items: center;
        padding: top;
    }

    li{
        padding-top: 5px;
    }

 .fa{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}

.checked{
    color: orangered;
}

.fa:hover{
    transform: scale(1.3);
    transition: .6s;
}

button{
    text-align: center;
    font-size: 24px;
    color: black;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.buy-1{
    background: white;
}

.buy-2{
    background: white;
}

.buy-3{
    background: white;
}

.buy-4{
    background: white;
}


   
